{% extends 'base.html' %}

{% block title %}
    <title>Регистрация</title>
{% endblock %}

{% block cart %}
    <div class="qty">{{ cart.item.count }}</div>
{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url 'shop:login' %}">Вход</a></li>
{% endblock %}

{% block main %}

    <div class="col-sm-8 col-sm-offset-2">
        <form action="." method="post">
            {% csrf_token %}
            {% if request.user.is_authenticated %}
                <div class="form-group">
                    <h2 class="text-center">Вы вошли как {{ request.user }}</h2>
                    <a href='{% url 'shop:logout' %}'><button type="button" class="btn btn-danger">Выход</button></a>
                </div>
            {% else %}
                <h2 class="text-center">Вход пользователя</h2>
                <div class="form-group">
                    <label for="exampleInputEmail1">Логин</label>
                    <input type="text" class="form-control" placeholder="First name" name="username" required id="id_username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Пароль</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" required id="id_password">
                </div>
                <button type="submit" class="btn btn-primary">Войти</button>

            {% endif %}

        </form>
    </div>
{% endblock %}

{% block sidebar %}

{% endblock %}