{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block main %}

    <div class="col-sm-8 col-sm-offset-2">
        <h3 class="text-center">Спасибо за Ваш заказ!</h3>
        <h4 class="text-center">В ближайшее время менеджер свяжется с Вами  для уточнения деталай
            заказа и согласования доставки.</h4>
        <p class="text-center"><a href="/"><button class="btn btn-default">Продолжить покупки</button></a></p>
    </div>

{% endblock %}

{% block sidebar %}

{% endblock %}