{% extends 'base.html' %}

{% block title %}
    <title>Контакты</title>
{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url 'shop:contact' %}">Контакты</a></li>
{% endblock %}

{% block main %}
    <h3>Контакты</h3>
    <br>
    <dl class="row">
        <dd class="col-sm-9">
            <dl class="row">
                <dt class="col-sm-4">Телефон:</dt>
                <dd class="col-sm-8">+7 999 765-43-21</dd>
            </dl>
        </dd>
        <dd class="col-sm-9">
            <dl class="row">
                <dt class="col-sm-4">Email:</dt>
                <dd class="col-sm-8">zakaz@email.com</dd>
            </dl>
        </dd>
        <dd class="col-sm-9">
            <dl class="row">
                <dt class="col-sm-4">Адрес:</dt>
                <dd class="col-sm-8">г. Москва, ул. Первого Мая, д.16</dd>
            </dl>
        </dd>
    </dl>

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3268.4850079641005!2d37.61627071129099!3d55.75201433889005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1581540229014!5m2!1sru!2sru" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
{% endblock %}

{% block sidebar %}

{% endblock %}